/* ==========================================================================
 * Basic elements (no class selectors allowed)
 * ========================================================================== */

/**
 * Set up the html
 *
 * 1. Makes sure that some fonts are better rendered
 * 2. Set font to lining figures
 */
*{ 
  @apply outline-none;
}

html { 
  @apply box-border;
}

body {
  @apply relative m-0 p-0 font-default font-normal text-black; 
} 

/**
 * [1] Turn off text-shadow when selecting text for better readability
 */
::selection {
  @apply text-white bg-blue;
}

.selection-blue-dark::selection {
  @apply text-white bg-blue-dark;
}

input::selection,
textarea::selection { 
  @apply text-white bg-blue;  
}

/* Remove default margin around figure
 */
figure {
  @apply m-0;
}

/**
 * [1] Setting 'vertical-align' removes the whitespace that appears under 'img'
 *	   elements when they are dropped into a page as-is. Safer alternative to
 *	   using 'display: block;'.
 * [2] Remove border / especially on older browsers
 */
img,
svg { 
 // @apply block align-middle border-0 max-w-full h-auto;
}


a {
  text-decoration-skip-ink: auto; // pretty underlining links
  @apply no-underline text-inherit outline-none transition duration-02 ease-in-out;

  svg { 
    @apply text-inherit transition duration-02 ease-in-out; 
  }

  &.c-link { 
    @apply transition-colors duration-03 ease-linear font-bold uppercase underline;   
  }

  &.c-link--more {
    @apply relative pr-25;

    &:hover {
      @apply text-blue-bright; 
      
      svg {
        transform: translate(5px, -50%);
      }
    }

    svg {
      @apply absolute ml-10;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &.c-link--sm { 
    @apply text-sm leading-18; 
  }

  &.c-link--primary { 
    @apply text-blue; 

    &:hover {
      @apply text-black; 
    }
  }
}

// Reset all top and bottom margins
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
figure,
pre,
table,
fieldset,
hr {
  @apply my-0;
}

p {  
  @apply text-inherit leading-inherit tracking-inherit mb-16;

  &:last-child {
    @apply mb-0;
  }
}