h1 {
    @apply font-title font-black text-black text-h2 md:text-h1 leading-13 tracking-sm;  
}

h2 {
    @apply font-title font-black text-black text-h3 md:text-h2 leading-13 tracking-sm; 
}

h3 {
    @apply font-title font-black text-black text-h4 md:text-h3 leading-13 tracking-sm;  
}

h4 {
    @apply font-title font-black text-black text-base md:text-h4 leading-12 tracking-sm; 
}

h5 {
    @apply font-title font-black text-black text-h5 leading-12 tracking-sm; 
}

h6 {
    @apply font-title font-black text-black text-h6 leading-12 tracking-sm;  
} 