//----Arial
// @font-face {
//   font-family: 'Arial';
//   src: url('../../fonts/arial/arialBlack.eot');
//   src: url('../../fonts/arial/arialBlack.eot?#iefix') format('embedded-opentype'),
//       url('../../fonts/arial/arialBlack.woff2') format('woff2'),
//       url('../../fonts/arial/arialBlack.woff') format('woff'),
//       url('../../fonts/arial/arialBlack.ttf') format('truetype'),
//       url('../../fonts/arial/arialBlack.svg#Arial-Black') format('svg');
//   font-weight: 900;
//   font-style: normal; 
// }

//----Century Gothic
@font-face {
  font-family: 'Century Gothic';
  src: url('../../fonts/century-gothic/CenturyGothic-BoldItalic.eot');
  src: url('../../fonts/century-gothic/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/century-gothic/CenturyGothic-BoldItalic.woff2') format('woff2'),
      url('../../fonts/century-gothic/CenturyGothic-BoldItalic.woff') format('woff'),
      url('../../fonts/century-gothic/CenturyGothic-BoldItalic.ttf') format('truetype'),
      url('../../fonts/century-gothic/CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../../fonts/century-gothic/CenturyGothic-Bold.eot');
  src: url('../../fonts/century-gothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/century-gothic/CenturyGothic-Bold.woff2') format('woff2'),
      url('../../fonts/century-gothic/CenturyGothic-Bold.woff') format('woff'),
      url('../../fonts/century-gothic/CenturyGothic-Bold.ttf') format('truetype'),
      url('../../fonts/century-gothic/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../../fonts/century-gothic/CenturyGothic.eot');
  src: url('../../fonts/century-gothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/century-gothic/CenturyGothic.woff2') format('woff2'),
      url('../../fonts/century-gothic/CenturyGothic.woff') format('woff'),
      url('../../fonts/century-gothic/CenturyGothic.ttf') format('truetype'),
      url('../../fonts/century-gothic/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



//----Mulish
@font-face {
  font-family: 'Mulish';
  src: url('../../fonts/mulish/Mulish-Bold.eot');
  src: url('../../fonts/mulish/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/mulish/Mulish-Bold.woff2') format('woff2'),
      url('../../fonts/mulish/Mulish-Bold.woff') format('woff'),
      url('../../fonts/mulish/Mulish-Bold.ttf') format('truetype'),
      url('../../fonts/mulish/Mulish-Bold.svg#Mulish-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


//----Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Regular.eot');
  src: url('../../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
      url('../../fonts/roboto/Roboto-Regular.woff') format('woff'),
      url('../../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
      url('../../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Medium.eot');
  src: url('../../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
      url('../../fonts/roboto/Roboto-Medium.woff') format('woff'),
      url('../../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
      url('../../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Bold.eot');
  src: url('../../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
      url('../../fonts/roboto/Roboto-Bold.woff') format('woff'),
      url('../../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
      url('../../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
  
//----Helvetica Neue


// //100
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Thin.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Thin.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Thin.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Thin.woff2') format('woff2');
//   font-weight: 100;
//   font-style: normal;
// }

// //100 italic
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-ThinItalic.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-ThinItalic.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-ThinItalic.woff2') format('woff2');
//   font-weight: 100;
//   font-style: italic;
// }

// //200
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLight.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLight.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLight.woff2') format('woff2');
//   font-weight: 200;
//   font-style: normal;
// }

// //200 italic
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLightItalic.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLightItalic.svg#HelveticaNeue-UltraLightItalic') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLightItalic.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLightItalic.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2');
//   font-weight: 200;
//   font-style: italic;
// } 

// //300
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Light.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Light.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Light.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// }

// //300 italic
// @font-face {
//   font-family: 'HelveticaNeue-LightItalic';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-LightItalic.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-LightItalic.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-LightItalic.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-LightItalic.woff2') format('woff2');
//   font-weight: 300;
//   font-style: italic;
// } 

//400
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue.eot');
  src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/helvetica-neue-fonts/HelveticaNeue.woff2') format('woff2'),
  url('../../fonts/helvetica-neue-fonts/HelveticaNeue.woff') format('woff'),
  url('../../fonts/helvetica-neue-fonts/HelveticaNeue.ttf') format('truetype'),
  url('../../fonts/helvetica-neue-fonts/HelveticaNeue.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}   

//400 italic
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Italic.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Italic.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Italic.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Italic.woff2') format('woff2');
//   font-weight: 400;
//   font-style: italic;
// }

//500
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Medium.eot');
  src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Medium.ttf') format('truetype'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Medium.woff') format('woff'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

// //500 italic
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-MediumItalic.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-MediumItalic.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-MediumItalic.woff2') format('woff2');
//   font-weight: 500;
//   font-style: italic;
// }

//700
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Bold.eot');
  src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Bold.ttf') format('truetype'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Bold.woff') format('woff'),
       url('../../fonts/helvetica-neue-fonts/HelveticaNeue-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// //700 italic
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-BoldItalic.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-BoldItalic.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-BoldItalic.woff2') format('woff2');
//   font-weight: 700;
//   font-style: italic;
// }

// //900
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBlack.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBlack.svg#HelveticaNeue-CondensedBlack') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBlack.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'HelveticaNeue-CondensedBold';
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBold.eot');
//   src: url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
//        url('../../fonts/helvetica-neue-fonts/HelveticaNeue-CondensedBold.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }