.c-about-menu {
  display: none;
  background-color: #00A1DF;
  @apply py-20;

  &:after {
    content: '';
    @apply fixed top-full left-0 w-screen;
    height: 20vh;
    background-color: #000;
    z-index: -1;
  }

  @media (min-width: 1200px) {
    min-height: 80vh;
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: 1680px) {
    padding-left: 185px;
    padding-right: 185px;
  }
}

.c-about-menu__item {
  @apply px-40 py-20 inline-block;

  @media (min-width: 576px) {
    max-width: 48%;
  }

  @media (min-width: 1200px) {
    max-width: 360px;
    @apply box-content pl-0 pr-100;
  }

  @media (min-width: 1680px) {
    max-width: 460px;
    padding-right: 200px;
  }
}

.c-about-menu__link {
  @apply block text-h5 font-title;
  color: #fff;

  img {
    @apply mx-auto;
  }

  span {
    @apply mt-20 block;
  }
}

.c-about-menu__close {
  @apply absolute top-25 right-50 cursor-pointer w-20 h-20;
  z-index: 99;

  &:before, &:after {
    content: '';
    @apply absolute w-full top-1/2 left-1/2 h-2;
    background-color: #fff;    
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}