.c-accordion-table-price__wpapper {
  transition: height 0.3s ease-in-out;

  .c-table-price {
    &.c-table-price--accordion {

      // tr:nth-child(2) {
      //   border-top: 10px solid #fff;
      // }
      
      td:first-child {
          
        div {
         
          span {
            @apply pl-0;
          }
        }
      }
    }
  }

  &.is-active {
    .c-table-price.c-table-price--accordion {  
      // @apply border-separate;
      // border-spacing: 0px 10px;

      .c-table-price__tr-header { 

        th {
          @apply bg-blue;   
          
          div {
              @apply opacity-100;
          }
        } 

      }
      
      .c-table-price__th-header {
        @apply text-center bg-white text-blue;
      }
    }
  }
} 

.c-table-price {
  &.c-table-price--accordion {

    tr {
      &:nth-child(2n+3){

        td {
          @apply bg-grey-light;
        }
      }
  
      &:nth-child(even){
  
        td {
          @apply bg-white;
        }
      }
    }

    .c-table-price__tr-header {  

      tr {
        @apply border-0; 
      }

      th {
          @apply text-sm border-0 bg-blue-dark text-white px-5 py-18 mb-10; 
          transition: all .3s ease-in-out;

          &:first-child {
            @apply text-md  text-left px-10 laptop:px-40;

            div {
              @apply font-title font-bold text-sm laptop:text-md leading-11;
            }
          }

          &:not(:first-child) { 
            div {
              @apply opacity-0 font-medium text-sm;
              transition: all .3s ease-in-out;
            }
          }

          &:last-child {
            @apply relative;
          }

      }
    } 

    .c-table-price__spacer {
      
        td {
          border: none;
        }
    }

    tr {

      td:first-child {

        @media (min-width: 1199px) {
          border-left: 25px solid #fff;
        }
      }

      td {
        div {
          @apply py-5 px-10;
        }
      }

      @media (max-width:1199px) {

        &:nth-child(2n+3){
          @apply mobile-laptop:bg-grey-light;
        }
  
        &:nth-child(even){

          td {
            @apply bg-white;
          }
        }
      }

    }

    tr:nth-child(2) {

      th {
        border-left: 25px solid #fff;
      }
    }

    .c-table-price__tr-btn {

      td {
        border-top: 20px solid white;

        @media (min-width:1200px) {
          border-top: 40px solid white;
        }
      }
    }
 
    //---Close/opent icon
    .c-accordion-table__btn-toggle {
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      @media (min-width: 1024px) {
        width: 36px;
        height: 36px;
      }
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 3px;
        @apply bg-white;
        margin-top: 8px;
  
        @media (min-width: 1024px) {
          width: 24px;
          height: 3px;
          margin-top: 15px;
        }
      }
  
      &:before {
        transform: rotate(90deg);
        transition: all .3s ease-in-out;
  
        .is-active & {
          transform: rotate(0);
        }
      }
    }
  } 
}