button {
  @apply appearance-none outline-none;
}

.c-btn { 
  @apply relative duration-06 overflow-hidden md:min-w-260 w-full text-sm md:text-md leading-25 md:leading-20 font-bold inline-block tracking-sm text-white text-center; 

  &:hover {
    @apply text-white; 

      &:before{   
        @apply opacity-60 duration-07;
      }

      &:after{  
        @apply opacity-100 duration-07; 
      }
  }

  &:before {
    content: "";
    @apply block absolute w-60 h-full left-0 top-0 opacity-50;
    background: rgba(255,255,255,0.5);
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &::after {
    content: "";
    @apply block absolute w-30 h-full left-30 top-0 opacity-0 ;
    background: rgba(255,255,255,0.2);
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
}

.c-btn--ex-xs {
  @apply md:max-w-200 min-w-100 text-sm py-18 px-10;  

  &:hover {
    &:before{
      transform: translateX(730px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(340px) skewX(-15deg);  
      }
    }
  
    &:after{
      transform: translateX(730px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(340px) skewX(-15deg);  
      }
    }
  }
}

.c-btn--xs {
  @apply md:max-w-260 py-20 px-25;

  &:hover {
    &:before{
      transform: translateX(730px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(340px) skewX(-15deg);  
      }
    }
  
    &:after{
      transform: translateX(730px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(340px) skewX(-15deg);  
      }
    }
  }
}

.c-btn--sm {
  @apply  md:max-w-280 py-20 px-25;

  &:hover { 
    &:before{
      transform: translateX(340px) skewX(-15deg);   
    }
  
    &:after{
      transform: translateX(340px) skewX(-15deg);
    }
  }
}

.c-btn--md {
  @apply  md:max-w-300 py-20 px-25 md:px-40;

  &:hover {
    &:before{
      transform: translateX(730px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(340px) skewX(-15deg);  
      }
    }
  
    &:after{
      transform: translateX(730px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(340px) skewX(-15deg);  
      }
    }
  }
}

.c-btn--xl {
  @apply max-w-500 py-20 md:py-30 px-25 md:px-60;

  &:hover { 
    &:before{
      transform: translateX(560px) skewX(-15deg);   
    }
  
    &:after{
      transform: translateX(560px) skewX(-15deg);
    }
  }
}

.c-btn--full {
  @apply w-full;
  
  &:hover {
    &:before{
      transform: translateX(1340px) skewX(-15deg);   
    }
  
    &:after{
      transform: translateX(1340px) skewX(-15deg);
    }
  }
}

.c-btn--primary {
  @apply bg-blue;

  &:hover,
  &:focus {
    @apply bg-blue-bright;
  }
}


.c-btn--secondary {
  @apply bg-black;

  &:hover,
  &:focus {
    @apply bg-black-lighter;
  }
}

.c-btn--more {
  @apply relative pr-100;

  &:hover {  
    svg {  
      transform: translate(5px, -50%);
    }
  }

  svg {
    @apply absolute m-0 right-76 md:right-56  ml-10;
    top: 50%; 
    transform: translateY(-50%);
  }

  &.c-btn--sm {
    @apply relative pr-70;

    svg {
      @apply absolute m-0 right-25 md:right-30  
    }
  }

  &.c-btn--ex-xs {
    @apply relative pr-50;

    svg {
      @apply absolute m-0 right-25;
    }
  }
}

.c-btn--round {
  @apply min-w-auto w-60 h-60 md:w-80 md:h-80 lg:w-100 lg:h-100 rounded-full relative;

  svg {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}

.c-btn--round-blue {
  @apply bg-blue;

  &:before{   
    @apply opacity-70 duration-07;
  }

  &:after{  
    @apply opacity-100 duration-07; 
  }

  &:hover { 
    @apply bg-blue-darker;

    &:before{
      transform: translateX(80px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(100px) skewX(-15deg);  
      }
    }
  
    &:after{
      transform: translateX(80px) skewX(-15deg); 

      @media (min-width: 768px) { 
        transform: translateX(100px) skewX(-15deg);  
      }
    }
  }
}

.c-btn--round-transparent {
  @apply bg-transparent border border-white;

  &:before{   
    @apply opacity-70 duration-07;
  }

  &:after{  
    @apply opacity-100 duration-07; 
  }

  &:hover { 
    @apply bg-white;

    svg {
      @apply text-black;
    }

    &:before{
      transform: translateX(340px) skewX(-15deg);   
    }
  
    &:after{
      transform: translateX(340px) skewX(-15deg);
    }
  }
}

.c-btn--round-left {

  svg {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

//-------Button outline
.c-btn-outline { 
  @apply relative transition-all duration-03 ease-linear bg-transparent border w-full md:w-auto text-sm md:text-md leading-25 md:leading-20 font-bold inline-block tracking-sm text-center; 

  &:hover {
    @apply text-white;
  }
}

.c-btn-outline--lg {
  @apply py-20 md:py-30 px-25 md:px-60 md:min-w-500;
}

.c-btn-outline--primary {
  @apply border-blue text-blue;

  &:hover,
  &:focus {
    @apply bg-blue;
  }
}