.c-featured-products {
  &:hover {
    .c-featured-products__desk { 
      @apply opacity-100 visible;
    }
    .c-featured-products__btn {
      @apply bg-blue-light #{!important} ; 
    }
  }
}

.c-featured-products__desk { 
  @apply opacity-0 overflow-auto invisible;
	transition: 0.4s ease-out; 
}

.c-featured-products__btn { 
	transition: 0.4s ease-out; 
}