.c-gallery {
    &:hover {
        .c-gallery__desk {
            opacity: 1;
            visibility: visible;
        }
    }
}

.c-gallery__desk {
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    height: calc(100% - 40px);
    width: calc(100% - 40px); 
	transition: 0.4s ease-out; 
}

.c-gallery__desk::-webkit-scrollbar {
    width: 5px;
}

.c-gallery__desk::-webkit-scrollbar-track {
    background: transparent;
}

.c-gallery__desk::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 20px;
    margin: 5px;
}

