.с-list {
    &.c-list--square {
        li { 
            @apply relative pl-25 lg:pl-35;

            &::after {
                content: ""; 
                @apply bg-blue absolute left-0 top-6 w-10 lg:w-16 h-10 lg:h-16;
            }
        }
    }
}

.acf-text-image ul li {
    @apply relative pl-25 lg:pl-35;

    &::after {
        content: ""; 
        @apply bg-blue absolute left-0 top-6 w-10 lg:w-16 h-10 lg:h-16;
    }
}

.acf-statistics {

    ul {
        margin-bottom: 1em;

        li {
            @apply list-disc;
        }
    }

    ol {
        li {
            @apply list-decimal;
        }
    }

    ul,
    ol {
        @apply pl-20 lg:pl-25;
    }
}

.acf-anim-icon-columns {
    ul {
        margin-bottom: 1em;

        li {
            @apply list-disc;
        }
    }

    ol {
        li {
            @apply list-decimal;
        }
    }

    ul,
    ol {
        @apply pl-20 lg:pl-25;
    }
}