.c-main-menu {
  @apply z-50 left-0 top-full ;
  transform: translateX(-120vw);
  transition: transform 0.2s linear;
  background-color: #fff;
  height: calc(100vh - 98px);

  @media (max-width: 1199px) {
    @apply overflow-x-hidden;
  }

  @media (min-width: 1200px) {
    @apply top-0;
    transform: translateX(0);
    height: auto;
  }

  .open & {
    transform: translateX(0);
  }
}

.c-main-menu__wrap {
  padding: 30px 0;

  @media (min-width: 1200px) {
    padding: 0;
  }

  .menu-item {
    @apply relative py-10;
  
    > a {
      @apply block text-md tracking-sm leading-20 uppercase font-title;
      padding: 10px 70px 10px 40px;

      @media (min-width: 1200px) {
        @apply block text-xs-sm tracking-sm leading-15 uppercase font-roboto font-bold relative;
        padding: 30px 30px 29px;
      }

      @media (min-width: 1680px) {
        @apply text-sm;
        padding: 48px;
      }
    }

    @media (min-width: 1200px) {
      @apply static p-0;

      > div {
        left: -110px;
        top: 80px;
        transform: translateX(-110vw);
        transition: transform 0.4s linear;
        z-index: 99;

        &.c-about-menu,
        &.c-resources-menu {
          @apply w-screen;
        }
      }

      &.open-item {
        background: #00A1DF;
        color: #fff;

        > div {
          transform: translateX(0);
        }

        .menu-item__icon {
          transform: rotate(180deg);

          &:before {
            border-color: #fff;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      > div {
        left: -131px;
      }
    }

    @media (min-width: 1680px) {
      > div {
        left: -211px;
        top: 120px;
      }
    }
  }

  .has-mega-menu.active {
    .menu-item__icon {
      transform: rotate(90deg);
    }
  }

  .menu-item__icon {
    @apply absolute right-10 top-5;    
    display: block;
    width: 70px;
    height: 70px;
    z-index: 10;

    @media (min-width: 1200px) {
      @apply relative right-0 top-0 origin-center inline-block ml-10;
      width: 10px;
      height: 10px;
      transition: all 0.2s linear;
    }

    @media (min-width: 1680px) {
      width: 12px;
      height: 12px;
    }
  
    &:before {
      content: '';
      @apply absolute left-1/2 top-1/2;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 12px;
      height: 12px;
      border-top: 2px solid #00A1DF;
      border-right: 2px solid #00A1DF;

      @media (min-width: 1200px) {
        width: 6px;
        height: 6px;
        border-top: 1px solid #00A1DF;
        border-right: 1px solid #00A1DF;
        transform: translate(-50%, -86%) rotate(135deg);
        transition: all 0.2s linear;
      }

      @media (min-width: 1680px) {
        width: 10px;
        height: 10px;
        border-top: 2px solid #00A1DF;
        border-right: 2px solid #00A1DF;
      }
    }
  }
}

.c-main-menu__list {
  flex-direction: column;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

