.c-mob-btn {
  width: 30px;
  height: 18px;
  @apply relative;

  span {
    @apply block absolute left-0 w-full h-2;
    background: #4E4D50;

    &:first-child {
      @apply top-0;
    }

    &:nth-child(2) {
      @apply top-8;
    }

    &:nth-child(3) {
      @apply bottom-0;
    }
  }
}

.c-mob-btn__text {
  font-size: 10px;
  @apply leading-10 mt-10 text-blue font-title absolute bottom-0 left-2/4;
  transform: translateX(-50%);
}

.c-mob-btn__text--open {
  .open & {
    @apply hidden;
  }
}

.c-mob-btn__text--close {
  @apply hidden;

  .open & {
    @apply block;
  }
}