.c-moving-text__title {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #008ECF;
  margin-right: 200px;

  @media (min-width: 1024px) {
    margin-right: 350px;
  }
}

.c-moving-text__wrap {
  left: 0;
  bottom: 80px; 

  @media (min-width: 1024px) {
    bottom: 150px;
    overflow: hidden;
  }
}

