.c-offer-show {
  @media (min-width: 1025px) {
    height: 100vh;
  }
}

.c-offer-show__slide {
  @apply py-25;
  @media (min-width: 1025px) {
    min-width: 100vw;
    
  }
}

.c-offer-show__img {
  width: 200px;
  height: 200px;
  padding: 40px;

  @media (min-width: 1024px) {
    width: 350px;
    height: 350px;
    padding: 60px;
  }

  @media (min-width: 1680px) {
    width: 540px;
    height: 540px;
    padding: 90px;
  }
}

.c-offer-show__img-circle {
  svg {
    @apply w-full h-full;
  }
}

.c-offer-show__text {
  max-width: 590px;
}

.c-offer-show__wrap {
  @media (min-width: 1025px) {
    height: 100vh;
    width: 100%; 
    display: flex;
    align-items: center;
  }

  .slick-arrow {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
} 
 
.JS-offer-show-wrap {
  @media (min-width: 1025px) {
    //height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .slick-slide {
    overflow: hidden; 
  }
}

.JS-visible-in-viewport {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  background: linear-gradient(180deg, #00A1DF -8.34%, #004D71 19.04%, #000000 55.5%);
  background-size: 100% 200%;
  z-index: 1;
}

.c-offer-show__img-circle {
  right: 0;
  bottom: 0;
  width: 539px;
  height: 539px;
  z-index: -1;
}

.icon-circle {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
}