.c-resources-menu {
  display: none;
  background-color: #00A1DF;
  @apply py-20;

  @media (min-width: 768px) {
    @apply p-20;
  }

  &:after {
    content: '';
    @apply fixed top-full left-0 w-screen;
    height: 20vh;
    background-color: #000;
    z-index: -1;
  }
}

.c-resources-menu__item {
  @apply p-20;

  @media (min-width: 768px) {
    @apply inline-block;
    width: 48%;
  }
}

.c-resources-menu__link {
  @apply flex items-center text-sm font-title;
  color: #fff;

  img {
    @apply  mr-20;
    width: 100px;

    @media (min-width: 1024px) {
      width: 160px;
    }
  }

  span {
    @apply block relative pr-20;

    &:after {
      content: '';
      @apply absolute right-0 top-1/2;
      transform: translateY(-50%) rotate(45deg);
      width: 12px;
      height: 12px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
}

.c-resources-menu__close {
  @apply absolute top-25 right-50 cursor-pointer w-20 h-20;
  z-index: 99;

  &:before, &:after {
    content: '';
    @apply absolute w-full top-1/2 left-1/2 h-2;
    background-color: #fff;    
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}