.c-resources-filter__list {
  input[type="checkbox"]:checked + span {
    @apply bg-grey-lightest;
  }
}

.JS-blog-filter.active {
  @apply max-h-80-screen bg-grey-light p-20 absolute -top-20 z-20 left-0 right-0 mx-20 overflow-y-auto md:overflow-hidden;
}

.JS-blog-filter-overlay {
  @apply absolute w-full h-full top-0 right-0 bottom-0 left-0 bg-white z-20 hidden;
}

.JS-blog-filter-overlay.active {
  @apply block;
}

.JS-blog-filter-heading {

  svg {
    @apply inline-block md:hidden;
    transition: transform 0.3s ease;
  }

}

.JS-blog-filter.active .JS-blog-filter-heading {
  
  svg {
    @apply transform rotate-180;
  }
}

.JS-blog-form {
  @apply hidden md:block;
}

.JS-blog-filter.active .JS-blog-form {
  @apply block ;
}

.nav-links {
  @apply font-roboto font-bold text-base leading-15 tracking-sm;
}

.page-numbers {
  @apply mx-10 text-black-light;
}

.page-numbers.current {
  @apply text-blue;
}

.next.page-numbers,
.prev.page-numbers {
  @apply text-black;
}