.c-select {
    @apply cursor-pointer mb-70 lg:mr-20 xl:mr-40 lg:mb-0;

    .c-select__visible {
        @apply lg:min-w-300 text-sm text-grey-dark font-roboto relative pl-20 pr-35 py-25 border border-solid border-grey-dim;
    }

    .c-select__visible.JS-select-arrow-active {
        border-bottom: none;
    }

    .c-select__visible:after {
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        right: 20px;
        border-top: 3px solid #00a1df;
        border-right: 3px solid #00a1df;
        top: calc(50% - 5px);
        transform: translateY(-50%);
        transform: rotate(135deg);
        transition: all 0.3s ease;
    }

    .c-select__visible.JS-select-arrow-active:after {
        transform: rotate(-45deg);
    }

    .c-select__list {
        width: 100%;
        position: absolute;
        top: 60px;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #808080;
        border-left: 1px solid #808080;
        background-color: #fff;
        z-index: 1;

        li {
            @apply px-20 py-10 text-sm text-grey-dark font-roboto;
        }
    }
}