.c-share-icons {
    .a2a_svg {
        @apply mobile-md:h-60 max-w-60 md:max-w-80 rounded-full overflow-hidden  #{!important} flex items-center justify-center  transition-all duration-02;

        svg {
            @apply max-w-40 md:max-w-60;
        }
    }
}