.c-slideshow-header__media {
  height: 0;
  padding-top: 117.33333%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border: 1px solid rgba(189, 203, 255, 0.7);
    border-bottom-color: transparent;
    z-index: -1;
    overflow: hidden;
  }

  .c-slideshow-header__media-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transform: translate(20px, -20px);
    overflow: hidden;

    @media (min-width: 1366px) {
      transform: translate(45px, -45px);
    }
  }

  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.active {
  .c-slideshow-header__media {
    &:after {
      height: 100%;
      border-bottom-color: rgba(189, 203, 255, 0.7);
      transition: height 3s linear 0.3s, border-bottom-color 0s linear 3.3s;
    }
  }

  .c-slideshow-header__media-block {
    height: 100%;
    transition: height 3s linear 0.3s;
  }
}

.c-slideshow-header {
  p:last-child {
    margin-bottom: 0;
  }
}

.c-slideshow-header__img {
  @media (min-width: 768px) {
    max-width: 57.5% !important;
  }
}

.c-slideshow-header__text {
  @media (min-width: 768px) {
    max-width: 42.5% !important;
  }
}

.c-slideshow-header__btn {
  @media (min-width: 1024px) {
    padding: 75px 80px 75px 40px;
    min-width: 130px;

    .c-slideshow-header__btn-arrow {
      top: -35px;
      right: 32px;
      height: 0;
      overflow: hidden;
    }

    .c-slideshow-header__btn-circle {
      right: 0;
      bottom: 0;
      width: 160px;
      height: 160px;
      stroke-dasharray: 540 542;
      stroke-dashoffset: 0;
      z-index: -1;
    }
  }

  .active & {
    .c-slideshow-header__btn-arrow {
      height: 148px;
      transition: height 3s linear;
    }
  }
}

.c-slideshow-header__img {
 
}