.c-tab {
    .c-tab__list { 
        li { 
            z-index: 1;
        } 
        span {
            @apply transition-colors duration-03 ease-linear; 
        } 
    }

    .JS-tab-content {
        @apply transition-opacity duration-08 ease-linear;

        &.visible {
            opacity: 1;
        }
        &.invisible {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}

.c-tab__list-wrap {
    &::after {
        content: '';
        @apply absolute bottom-0 left-0 w-full h-1 bg-grey-extra-light;
    }
}