.c-table-price {  
    tr {
        @apply min-h-30 py-2;

        &:nth-child(even){

            td {
                @apply bg-grey-light;
            }
        }

        th,
        td { 
            @apply laptop:border-grey-light laptop:border-solid laptop:border-r text-center; 
    
            &:last-child {
                @apply border-0;
            }
        }

        th {
            @apply py-20 font-title font-bold text-base;
        }
        
        td {   
            @apply font-roboto text-grey;  


            div {
                @apply font-roboto min-h-30 py-5;

                span {
                    @apply block text-blue-dark font-medium; 

                    > span {
                        @apply block text-grey font-normal; 
                    }
                }
            }
    
            &:first-child {
                
                div { 
                    span {
                        @apply font-roboto text-left px-20 text-grey font-normal text-sm; 
                    }

                    @media (max-width: 1200px) {
                        @apply py-20;
                    } 
                }
            }

            &:last-child {

                @media (max-width: 1200px) {
                    min-width: 110px;
                } 
            }
    
            svg {
                @apply inline-block;
            }
        }

        td:not(:first-child) {

            div { 
                span {
                    @apply text-xs-lg leading-12; 
                }
            }
        }
    }

    .c-table-price__tr-btn { 
        td { 
            @apply border-0 bg-transparent #{!important};
        }
    }

    .c-table-price__empty {
        @apply relative;

        &:after {
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @apply absolute block bg-grey-extra-light h-2 w-20;
        }

    }
}