//2 level
.c-text-menu {
  display: none;
  background-color: #00A1DF;
  @apply py-20;

  @media (min-width: 1200px) {    
    height: calc(100vh - 79px);
    width: 58vw;
    @apply block;
    padding: 76px 0;
  }
}

.c-text-menu__bg {
  @apply w-0 overflow-hidden fixed top-0 h-full;
  left: 58vw;
  transition: width 0.2s linear;
  background-color: #000;

  @media (max-width: 1200px) {
    display: none !important;
  }

  &.active {
    width: 42vw;
  }
}

.c-text-menu__item {
  @media (max-width: 1200px) {
    &.active {
      .c-text-menu__link {
        background: #004D71;
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 30px 50px 30px 160px;
    @apply relative;

    &:hover {
      background-color: #004D71;

      .c-text-menu__submenu-item {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &.has-child {
      
    }
  }
}

.c-text-menu__link {
  @apply text-h6 text-white font-title leading-20 relative block;
  padding: 10px 60px 10px 20px;

  @media (min-width: 1200px) {
    @apply text-h3-lg text-white leading-12 relative inline-block p-0;
    max-width: 450px;

    &:after {
      content: '';
      @apply absolute left-full top-1/2 w-12 h-12;
      transform: translateX(10px) rotate(45deg);
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
}

.c-text-menu__toggle {
  @apply absolute right-15 top-5;    
  display: block;
  width: 60px;
  height: 60px;
  z-index: 10;
  transform: rotate(90deg);
  transition: transform 0.3s linear;

  &:before {
    content: '';
    @apply absolute right-1/2 top-1/2;
    transform: translateY(-50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;

    @media (min-width: 1200px) {
      // width: 6px;
      // height: 6px;
      // border-top: 1px solid #00A1DF;
      // border-right: 1px solid #00A1DF;
      // transform: translate(-50%, -86%) rotate(135deg);
      display: none !important  ;
    }
  }

  .c-text-menu__item.active & {
    transform: rotate(-90deg);
  }
}


//3 level
.c-text-menu__submenu {
  display: none;

  @media (max-width: 1200px) {
    background-color: #010101;
    padding: 20px 0 30px;
  }

  @media (min-width: 1200px) {
    @apply fixed flex justify-center flex-col z-10;
    width: 42vw;
    height: calc(100% - 100px);
    left: 100%;
    top: 50px;
    color: #fff;

    .c-text-menu__item:not(.active) & {
      transform: translateX(-50px);
      opacity: 0;
      transition: all 0.2s linear;
      z-index: -999;
      visibility: hidden;
    }

    .c-text-menu__item.active & {
      transform: translateX(0);
      opacity: 1;
      transition: all 0s linear;
      z-index: 9;
      visibility: visible;
    }
  }
}

.c-text-menu__submenu-item {
  padding: 0 40px;

  @media (min-width: 1200px) {
    @apply pl-100 pr-30 text-h4 leading-12 opacity-0;
    transform: translateX(-50px);
    color: #fff;
    transition: all 0.2s linear;
    padding: 33px 50px 33px 100px;
  }
}

@for $i from 1 through 10 {
  .c-text-menu__submenu-item:nth-child(#{$i}n) {
      transition-delay: #{$i * 0.15}s;
  }
}

.c-text-menu__submenu-link {
  @apply font-roboto text-xs-sm leading-28 relative font-medium block underline;
  color: #fff;

  @media (min-width: 1200px) {
    @apply font-roboto text-h4 leading-12 relative font-medium;

  }
}


//close submenu btn
.c-text-menu__close {
  @apply absolute top-30 right-25 cursor-pointer w-20 h-20;
  z-index: 99;

  &:before, &:after {
    content: '';
    @apply absolute w-full top-1/2 left-1/2 h-2;
    background-color: #fff;    
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}