.c-video {
  max-width: 900px;
}

.c-video__wrap {
  max-width: calc(100% - 44px);
}

.mfp-close-btn-in .mfp-close {
	color: #fff;
  outline: none;
}

.c-video__play-btn {
  width: 140px;
  height: 140px;
  border: 1px solid rgba(189, 203, 255, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .c-slideshow-header & {
    opacity: 0;
  }

  @media (min-width: 1024px) {
    width: 250px;
    height: 250px;
  }

  .active & {
    opacity: 1;
    transition-delay: 3.3s;
  }
}

.c-video__play-span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 30px;
  border-color: transparent transparent transparent white;
}

.c-video__play-animate {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 77, 113,0.6);
}

