.c-widget_nav_menu {
  .menu {
    .menu-item {
      @apply pb-20;

      a {
        @apply font-roboto font-normal underline leading-20 text-white hover:text-blue;
        text-underline-position: under;
      }
    }
  }
}

.JS--widget-title {
  .o-footer__top & {

  }
}
 
.o-footer__top {
  .c-widget {
    > div {
      @apply transition-all duration-02 mobile-md:overflow-hidden ; 
    } 
  }

  .c-widget__title {
    @apply relative ;
    
    &.arrow {
      @apply pr-15;
      &::after {
        content: ''; 
        @apply absolute right-0 top-3 inline-block border border-t-0 border-r-2 border-b-2 border-l-0 border-white w-8 h-8 p-2 transition-transform duration-02 transform rotate-45;
      }
    }

    &.active {
      &::after {
        transform: rotate(-135deg);
      }
    }
  }
} 