.c-wysiwyg {
    h1 {
        @apply mb-30 lg:mb-60;  
    }
    
    h2 {
        @apply mb-20 lg:mb-40; 
    }
    
    h3 {
        @apply mb-20 lg:mb-40;  
    }
    
    h4 {
        @apply mb-20 lg:mb-25; 
    }
    
    h5 {
        @apply mb-15 lg:mb-20; 
    }
    
    h6 {
        @apply mb-15 lg:mb-20;  
    } 

    p {
        @apply font-default text-black-light;

        &:last-child {
            margin-bottom: 1em;
        }
    }

    a {
        @apply underline hover:no-underline text-blue;
    }
} 

.acf-simple-text {
    
    .c-wysiwyg {

        p {
            @apply text-sm md:text-base font-default text-black-light;
    
            &:last-child {
                margin-bottom: 1em;
            }
        }
    
        ul {
            margin-bottom: 1em;
    
            li {
                @apply text-sm md:text-base font-default text-black-light list-disc;
            }
        }
    
        ol {
            li {
                @apply text-sm md:text-base font-default text-black-light list-decimal;
            }
        }
    
        ul,
        ol {
            @apply pl-15 md:pl-20 lg:pl-25;
        }
    }
}