//faq accordion

.accordion-tab {
  transition: all .4s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: 1px;
    background-color: #E3E3E3;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  .simplebar-vertical {
    opacity: 0;
    transition-delay: 0.4s;
  }

  &.active {
    .simplebar-vertical {
      opacity: 1;
    }
  }
}

.accordion-title {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    width: 20px;
    height: 20px;

    @media (min-width: 1024px) {
      width: 36px;
      height: 36px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: #00A1DF;
      margin-top: 8px;

      @media (min-width: 1024px) {
        width: 36px;
        height: 5px;
        margin-top: 15px;
      }
    }

    &:before {
      transform: rotate(90deg);
      transition: all .3s ease-in-out;

      .active & {
        transform: rotate(0);
      }
    }
  }
}

.accordion-body {
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: height .4s ease-in-out,margin .4s ease-in-out;

  .active & {
    height: 150px;
    overflow-y: auto;
    margin-top: 25px;
    margin-bottom: 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Expand/Collapse Section
.accordion-tab--sm {

  &:after {
    max-width: 540px;
  }

  &:last-child {
    &:after {
      display: block;
    }
  }
}

.accordion-title--sm {

  span {
    @media (min-width: 1024px) {
      width: 24px;
      height: 24px;
    }

    &:before,
    &:after {
      margin-top: 8px;

      @media (min-width: 1024px) {
        width: 24px;
        height: 3px;
        margin-top: 10px;
      }
    }
  }
}

.accordion-body--sm {
  transition: height .4s ease-in-out,margin .4s ease-in-out;

  .active & {
    height: 125px;
    margin-top: 20px;
    margin-bottom: 0;

    @media (min-width: 768) {
      height: 150px;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.accordion-body--img {
  .active & {
    height: 250px;

    @media (min-width: 1024px) {
      height: 150px;
    }
  }
}



