.wp-block-embed {
  &.is-type-video {
    .wp-block-embed__wrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.wp-block-video {
  video {
    width: 100%;
  }
}