p.has-medium-font-size {
  @apply leading-16 md:leading-18 font-normal text-sm md:text-md tracking-sm mb-16;
}

p.has-large-font-size {
  @apply text-sm lg:text-base leading-20 mb-20;
}

p.has-huge-font-size {
  @apply text-md lg:text-h3-lg leading-16 mb-20;
}