@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.eot');
    src: url('Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mulish-Bold.woff2') format('woff2'),
        url('Mulish-Bold.woff') format('woff'),
        url('Mulish-Bold.ttf') format('truetype'),
        url('Mulish-Bold.svg#Mulish-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

