.s-slideshow-header {
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 150px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 220px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 250px;
  }

  @media (min-width: 1366px) {
    padding-bottom: 300px;
  }

  .container  {
    max-width: 1600px;
  }
  .slick-dots {
    max-width: 1600px;
    padding: 0 25px;
    margin: 35px auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      cursor: pointer;

      @media (min-width: 1024px) {
        width: 12px;
        height: 12px;
        margin: 0 14px;
      }

      @media (min-width: 1366px) {
        width: 16px;
        height: 16px;
        margin: 0 18px;
      }

      button {
        font-size: 0;
        line-height: 0;
        width: 100%;
        height: 100%;
        outline: none;
        background: #ECECEC;
        border-radius: 100%;
        vertical-align: top;
      }

      &.slick-active {
        width: 16px;
        height: 16px;

        @media (min-width: 1024px) {
          width: 20px;
          height: 20px;
        }
  
        @media (min-width: 1366px) {
          width: 24px;
          height: 24px;
        }

        button {
          background: #B2BDD9;
        }
      }
    }
  }
}

.text-animation{
	display:inline-block;
  position:relative;
	color: transparent;
	text-transform:uppercase;
  word-wrap: none;

	&:before{
		content: '';
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		background: #e5e5e5;
		width: 0;
		height: 1.2em;
		transform: translate(-50%,-55%);
	}

  &:after {
    content: '';
    position: absolute;
    background-color: #00A1DF;
    top: 100%;
    left: 0;
    width: 0;
    height: 6px;

    @media (min-width:1366) {
      height: 8px;
      top: auto;
      bottom: 0;
    }
  }

	&.state-1{
		&:before{
		  	width:1px;
		}

    &:after {
      width: 0;
    }
	}
	&.state-2{
		&:before{
		  	width:.9em;
		}
	}
	&.state-3{
		color: #fff;
		&:before{
		  	width:0;
		}

    &:after {
      width: 100%;
    }
	}
  
}
