.s-anim-grad {
  background: linear-gradient(180deg, #00A1DF -8.34%, #004D71 19.04%, #000000 55.5%);
	background-size: 100% 200%;
	animation: gradient 2s ease;
  animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}


