.o-footer {
  a { 
    @apply transition-all duration-02 ease-linear;
  }
}

.o-footer__top {
  >.container {
    >div.flex {
      @apply flex-wrap;
    }
  }
}

.o-footer__contacts { 

  .c-widget_text {
    @apply flex flex-wrap items-center;

    &:first-child {
      @apply w-full;
    }

    &:nth-child(2) {
      @apply mr-10 md:mr-30 lg:mr-60;
    }

    .c-widget__title {
      @apply  my-15 mr-15 md:mr-30  mobile-md:text-sm #{!important}; 
    }

    .textwidget {
      a {
        @apply font-mulish font-bold tracking-sm text-blue text-sm md:text-md underline hover:no-underline;
        text-underline-position: under;
      }
    }

    ul {
      @apply flex flex-wrap items-center m-0 p-0 list-none;

      li {
        @apply mr-30 my-15;

        &:last-child {
          @apply mr-0;
        }
      }
    }
  }
}