.o-header{
  z-index: 999;
  height: 98px;

  @media (min-width: 1200px) {
    height: 80px;
  }

  @media (min-width: 1680px) {
    height: 120px;
  }
}

.o-header__main {
  @apply fixed top-0 left-0 w-full;
  background-color: #fff;
  z-index: 999;
}

.o-header__logo {
  width: 90px;

  @media (min-width: 1440px) {
    width: 111px;
  }
}

.o-header__btn {
  @apply relative pb-20;
}

.o-header__contact-btn {
  @media (min-width: 1200px) {
    line-height: 0;
  }

  @media (min-width: 1680px) {
    a {
      @apply pt-40 pb-40;
    }
  }
}

.overflow {
  @apply overflow-hidden;
}