/*! purgecss start ignore */
@tailwind base;
@tailwind components;

//@import '1-Fonts/fonts';
@import '2-Tools/tools';
@import '3-Elements/elements';
@import '4-Components/components';
@import '5-Sections/sections';
@import '6-Organisms/organisms';
@import '7-Blocks/blocks';

.wp-block {
  max-width: 1300px;

  img {
    border: none;
  }
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1400px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block[data-type="acf/inner-block"] {
  max-width: 100%;
}

.wp-block[data-type="acf/button"] {
  display: inline-block;
  margin: -20px 0;
  padding: 20px 0;
}

.wp-block[data-type="acf/team-spotlight"],
.wp-block[data-type="acf/post-types-tabs"],
.wp-block[data-type="acf/featured-content-tab-cards"]{
  .acf-block-body ul, .acf-block-body ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

/*! purgecss end ignore */

// Tailwind utilities
@tailwind utilities;